@model List<PlacementManagement.BAL.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee List";
}
<form>
    <button asp-action="Create" class="btn btn-primary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Employee</button>
    <div class="card">
        <div class="card-header text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr class="table-active">
                        <th>Id</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Department</th>
                        <th>Salary</th>
                        <th>Date of Birth</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td>@employee.Id</td>
                                <td>@employee.Name</td>
                                <td>@employee.Email</td>
                                <td>@employee.Department</td>
                                <td>@employee.Salary</td>
                                <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Edit</a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="">
                                <div>
                                    No Employees available at this moment!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>