@model PlacementManagement.BAL.Models.StudentViewModel

@{
    ViewData["Title"] = "Delete Student";
}
<div class="card">
    <div class="card-header text-center">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <form method="post" action="Create" class="mt-3" autocomplete="off">
            @Html.HiddenFor(model => model.Id)
            <div class="mb-3">
                @Html.DisplayNameFor(model => model.StudentName)
                <input type="text" asp-for="StudentName" class="form-control" readonly />
            </div>
            <div class="mb-3">
                @Html.DisplayNameFor(model => model.Email)
                <input type="text" asp-for="Email" class="form-control" readonly />
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.DepartmentId)
                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), "--Select--", new { @class = "form-control", @readonly = "readonly" })            
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.CoreAreas)
                <input type="text" asp-for="CoreAreas" class="form-control" readonly />
            </div>
            <div class="mb-3">
                @Html.DisplayNameFor(model => model.CGPA)
                <input type="text" asp-for="CGPA" class="form-control" readonly />
            </div>
            <div>
                <div>
                    <button type="submit" class="btn btn-danger form-control" onclick="return confirm('Are you sure to delete the Student')" )><i class="fa-solid fa-trash"></i> Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

