@model PlacementManagement.BAL.Models.StudentViewModel

@{
    ViewData["Title"] = "Edit Student";   
}
<h3>@ViewData["Title"]</h3>
<hr />
<form method="post" action="Edit" class="mt-3" autocomplete="off">
    <form method="post" action="Create" class="mt-3" autocomplete="off">
        @Html.HiddenFor(model=>model.CollegeName)
        @Html.HiddenFor(model=>model.CollegeId)
        @Html.HiddenFor(model => model.Id)
        <div class="mb-3">
            @Html.DisplayNameFor(model => model.StudentName)
            <input type="text" class="form-control" asp-for="StudentName" />
            <span asp-validation-for="StudentName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @Html.DisplayNameFor(model => model.Email)
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @Html.DisplayNameFor(model => model.DepartmentId)
            @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), "--Select--", new { @class = "form-control" })
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @Html.DisplayNameFor(model => model.CGPA)
            <div class="input-group">
                <input type="number" class="form-control" asp-for="CGPA" />
            </div>
            <span asp-validation-for="CGPA" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @Html.DisplayNameFor(model => model.CoreAreas)
            <input type="text" class="form-control" asp-for="CoreAreas" />
            <span asp-validation-for="CoreAreas" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="col-lg-12 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

