@model PlacementManagement.BAL.Models.RegisterViewModel

@{
    ViewData["Title"] = "User Registration";
}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-6 col-xl-5">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>@ViewData["Title"]</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="Register" class="mt-3" autocomplete="off">
                                            <div class="mb-3">
                                                @Html.DisplayNameFor(model => model.AccountTypeId)
                                                @Html.DropDownList("AccountTypeId", new SelectList(Model.AccountTypes, "Id", "AcccountType"), "--Select--", new { @class = "form-control" })
                                                <span asp-validation-for="AccountTypeId" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                @Html.DisplayNameFor(model => model.Name)
                                                <input type="text" class="form-control" asp-for="Name" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                @Html.DisplayNameFor(model => model.UserName)
                                                <input type="text" class="form-control" asp-for="UserName" />
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                @Html.DisplayNameFor(model => model.Password)
                                                <input type="password" class="form-control" asp-for="Password" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                @Html.DisplayNameFor(model => model.ConfirmPassword)
                                                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <div class="col-lg-12 d-grid">
                                                    <button class="btn btn-primary btn-block gradient-custom-2 mb-3" type="submit">
                                                        Submit
                                                    </button>                                                    
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }