@model List<PlacementManagement.BAL.Models.InteviewProcessViewModel>

@{
    ViewData["Title"] = "Interview Process";
}
<form>   
    <div class="card">
        <div class="card-header text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr class="table-active">                           
                        <th>Student Name</th>
                        <th>CollegeName</th>                        
                        <th>1st Round</th>
                        <th>Remarks</th>
                        <th>1st Round Cleared</th>
                        <th>2nd Round Score</th>
                        <th>Remarks</th>
                        <th>2nd Round Cleared</th>
                        <th>Selected!</th>
                        <th>Offer Released!</th>
                        <th>Offer Sent Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var candidate in Model)
                        {
                            <tr>                                 
                                <td>@candidate.StudentName</td>
                                <td>@candidate.CollegeName</td>                                
                                <td>@candidate.RoundOneScore</td>
                                <td>@candidate.RoundOneRemarks</td>
                                <td>@candidate.RoundOneCleared</td>
                                <td>@candidate.RoundTwoScore</td>
                                <td>@candidate.RoundTwoRemarks</td>
                                <td>@candidate.RoundTwoCleared</td>
                                <td>@candidate.IsSelected</td>
                                <td>@candidate.IsOfferReleased</td>
                                <td>@candidate.OfferReleasedDate</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="InterviewProcess" asp-action="Edit" asp-route-id="@candidate.Id" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Edit</a>                                        
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12">
                                <div>
                                    No Candidates available at this moment!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>