@model List<PlacementManagement.BAL.Models.InteviewProcessViewModel>

@{
    ViewData["Title"] = "Interview Process";
}
<form>   
    <div class="card">
        <div class="card-header text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr class="table-active">   
                        <th>Placement Request Id</th>
                        <th>Student Name</th>
                        <th>CollegeName</th>
                        <th>Company Name</th>
                        <th>Round One Score</th>
                        <th>Round One Remarks</th>
                        <th>Round One Cleared</th>
                        <th>Round Two Score</th>
                        <th>Round Two Remarks</th>
                        <th>Round Two Cleared</th>
                        <th>Is Candidate Selected</th>
                        <th>Is Offer Released</th>
                        <th>Offer Sent Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var candidate in Model)
                        {
                            <tr>  
                                <td>@candidate.PlacementRequestId</td>
                                <td>@candidate.StudentName</td>
                                <td>@candidate.CollegeName</td>
                                <td>@candidate.CompanyName</td>
                                <td>@candidate.RoundOneScore</td>
                                <td>@candidate.RoundOneRemarks</td>
                                <td>@candidate.RoundOneCleared</td>
                                <td>@candidate.RoundTwoScore</td>
                                <td>@candidate.RoundTwoRemarks</td>
                                <td>@candidate.RoundTwoCleared</td>
                                <td>@candidate.IsSelected</td>
                                <td>@candidate.IsOfferReleased</td>
                                <td>@candidate.OfferReleasedDate</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@candidate.Id" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Edit</a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@candidate.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="">
                                <div>
                                    No Employees available at this moment!
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>